# Dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Testing
/test-results/
/playwright-report/
/playwright/.cache/
/allure-results/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Allure
allure-report/ 